* {
    margin: 0;
    padding: 0;
}

.title, .button-container, .dimension-size, .grid-box-box {
    display: flex;
    justify-content: center;
}

#grid-box {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    width: 600px;
    height: 600px;
}

